pyyaml==6.0.1
spotipy==2.23.0
langchain==0.2.5
colorama==0.4.6
tiktoken
openai
langchain-groq==0.1.5
mysql-connector-python
langchain-community== 0.2.5
langchain-openai
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib